<%
    # the midi_player partial only includes the midi player if the filename is not null
    # for the image tag, we need to check that here.
-%>
<% if session[:germ_error_message] -%>
  <div id='germ_string_error'>
      <%= h session[:germ_error_message] %>
  </div>
<% else -%>
  <!--TODO: this doesn't get properly refreshed when the germ changes-->
  <%= render :partial => 'midi_player_and_notation', 
        :locals => {:midi_player_div_id => 'germ_midi_player',
                    :image_div_id => 'germ_image',        
                    :midi_filename => @germ_midi_filename, 
                    :image_filename => @germ_image_filename } %>
<% end -%>