<%     
    set_scale_key_prefix_instance_variables(input_prefix)     
    keys = scale.getValidKeyNames
    if keys.size == 0
        style = " style=\"display: none;\""
        keys = [nil] # give us one option to have valid html...
    end    
-%>
<div id="<%= @key_name_selection_span %>"<%= style %>>  
  <% field_wrap(@key_id, 'Key', '') do %>
    <%= select_tag @key_name, options_for_select(keys, scale.getKeyName), :id => @key_id %>      
  <% end %>
</div>
