<% 
    keys = scale.getValidKeyNames
    if keys.size == 0
        style = "style=\"display: none;\""
        keys = [nil] # give us one option to have valid html...
    end    
-%>
<span id="key_name_selection"<%= style %>>
  Key:
  <%= select_tag :key, options_for_select(keys, scale.getKeyName) %>  
  <%= get_scale_or_key_observe_field(:key) if observe_fields %>
</span>
