<% 
    this_type_unique_index = @voice_or_section.getUniqueIndex
    other_type_unique_index = @voice_section.getOtherVoiceOrSection(@voice_or_section).getUniqueIndex    
    other_type_label = @voice_section.getOtherVoiceOrSection(@voice_or_section).getClassName
    input_name_prefix = "#{@voices_or_sections_label}[#{this_type_unique_index}][voice_sections][#{other_type_unique_index}]"
    input_id_prefix = sanatize_input_id(input_name_prefix)    
-%>
  
<% render :layout => 'togglable_fieldset_wrapper', :locals => {:link_text => "Voice Section for #{other_type_label} #{other_type_unique_index}", :id_prefix => input_id_prefix, :show_fieldset_initially => false } do %>   
  <p>
    Rest <%= check_box_tag "#{input_name_prefix}[rest]", 1, @voice_section.getRest, :id => "#{input_id_prefix}_rest" %>
    <br />    
    Use Default Voice Settings <%= check_box_tag "#{input_name_prefix}[use_default_voice_settings]", 1, @voice_section.getUseDefaultVoiceSettings %>
    <br />
    Use Default Section Settings <%= check_box_tag "#{input_name_prefix}[use_default_section_settings]", 1, @voice_section.getUseDefaultSectionSettings %>
  </p>    
<% end -%>