<%= render :partial => 'set_prefix_instance_variables' %>
<% render :layout => 'one_voice_or_section_wrapper' do %>
    <p>
      Instrument:
      <%= select_tag "#{@input_name_prefix}[instrument]", options_for_select(@instrument_names, @voice_or_section.getInstrumentName), :id => "#{@input_id_prefix}_instrument" %>    
      <br />
      Octave Adjustment:
      <%= text_field_tag "#{@input_name_prefix}[octave_adjustment]", @voice_or_section.getOctaveAdjustment, :size => 2, :id => "#{@input_id_prefix}_octave_adjustment" %>
      <br />
      Speed Scale Factor:
      <%= text_field_tag "#{@input_name_prefix}[speed_scale_factor]", @voice_or_section.speedScaleFactor, :size => 2, :id => "#{@input_id_prefix}_speed_scale_factor" %>
    </p>
<% end %>