<%
    section_settings_input_name_prefix = "#{input_prefix}[section_settings]"
    section_settings_input_id_prefix = sanatize_input_id(section_settings_input_name_prefix)  
    inversion_id = "#{section_settings_input_id_prefix}_apply_inversion"
    retrograde_id = "#{section_settings_input_id_prefix}_apply_retrograde"
-%>
<div class="voice_or_section_settings">
    <%= hidden_field_tag "#{section_settings_input_name_prefix}[ignore]", 'ensure have hash', :id => "#{section_settings_input_id_prefix}_ignore" %>

    <% field_wrap(inversion_id, 'Apply Inversion', '') do %>
        <%= check_box_tag "#{section_settings_input_name_prefix}[apply_inversion]", 1, settings.getApplyInversion, :id => inversion_id %>
    <% end %>
        
    <% field_wrap(retrograde_id, 'Apply Retrograde', '') do %>
        <%= check_box_tag "#{section_settings_input_name_prefix}[apply_retrograde]", 1, settings.getApplyRetrograde, :id => retrograde_id %>
    <% end %>
    
    <%= render :partial => 'voice_or_section_common_settings', 
               :locals => {:settings_input_name_prefix => section_settings_input_name_prefix,
                           :settings => settings,
                           :override_checkbox_id => override_checkbox_id,
                           :panel_div_id => panel_div_id} %>
</div>