<%    
    options_hash = {:style => "display: #{display};", :class => 'spinner'} 
    options_hash[:id] = div_id unless div_id.nil?
%>
<div class="spinner_wrap">
    <%= image_tag 'indicator.gif', options_hash %>
</div>