<br />
<ul class="tablist">
<% for i in 0 ... div_ids.length do 
    div_id = div_ids[i]
    link_id = "#{div_current}_#{div_id}_tab_link"
    is_current_div = (div_current == div_id)
    class_str = (is_current_div ? ' class="current"' : '')
-%>
  <li>
      <a id="<%= link_id %>"<%= class_str %> href="#" onclick="return false;">
          <%= div_names[i] %>
      </a>
      <%= get_tab_click_handler(div_current, div_id, link_id) unless is_current_div %>
  </li>
<% end -%>
</ul>
