<%= check_box_tag "advanced_options_toggle", 1, false, :onclick => "switchid('piece_settings'); $$('ul.tablist').each(function(e) {e.toggle();});" %>


<span id="piece_midi_player_wrapper">  
        <%= render :partial => 'midi_player', :locals => {:midi_filename => @piece_midi_filename, :div_id => 'piece_midi_player'} %>        
        <% if @piece_image_filename %>
          <% clear_computed_public_path_for_image(@piece_image_filename) %>
          <%= image_tag(@piece_image_filename, :alt => 'Piece Notation') %>
      <% end -%>
    </span>       