<div class="static-page-wrap">
    <p>
      Fractal Composer began as my 2004 
      <a href="http://www.spu.edu/acad/univ-scholars/honorsprojects.html">University Scholars honors project</a>
      as part of my studies at <a href="http://www.spu.edu">Seattle Pacific University</a>.  Originally,
      it was a .NET desktop application for Windows written in C#.  The results were certainly interesting,
      but at the time I did not make the effort to distribute it, and very few people tried it.      
    </p>
    
    <p>
      In the spring of 2008, while <a href="http://myronmarston.blogspot.com">I was living in China</a>, I
      had some ideas to improve the Fractal Composer music-generation algorithm.  I also thought it would
      be interesting to see what music others could compose if it reached a wider audience...and fractalcomposer.com was born.
    </p>    
</div>