<div class="static-page-wrap">
  <h1>Welcome to fractalcomposer.com!</h1>

  <p>
    <a href="http://fractalcomposer.com">fractalcomposer.com</a> lets you compose 
    interesting music using the self-similar nature of fractals to generate an entire 
    piece of music.  You simply need to give it a short melody that defines the fractal shape.
  </p>

  <p>
    Not sure what any of that means?  Visit the <a href="/about">about</a> 
    page to learn more or go to the <a href="/examples">examples</a> page to see some of the results.
  </p>

  <p>
    Or head straight to the <a href="/compose">compose</a> page to create 
    your own piece of fractal music!
  </p>

</div>
