<p>
  If checked, <a href="http://en.wikipedia.org/wiki/Counterpoint#Contrapuntal_derivations" target="_blank">retrograde</a>
  will be applied to the germ. The germ will be played backwards. An example:
</p>

<%= music_example('/examples/info/germ', 'Original Germ') %>
<%= music_example('/examples/info/Retrograde', 'Retrograde') %>

<p>
  This can also be combined with inversion to form 
  <a href="http://en.wikipedia.org/wiki/Retrograde_inversion" target="_blank">retrograde inversion</a>.
</p>


