<p>
  If checked, <a href="http://en.wikipedia.org/wiki/Inversion_(music)#Inverted_melodies" onclick="return Popup.open({url:this.href});">inversion</a>
  will be applied to the germ. The germ will be played upside down.  An example:
</p>

<%= music_example('/examples/info/germ', 'Original Germ') %>
<%= music_example('/examples/info/inversion', 'Inversion') %>

<p>
  This can also be combined with retrograde to form 
  <a href="http://en.wikipedia.org/wiki/Retrograde_inversion" onclick="return Popup.open({url:this.href});">retrograde inversion</a>.
</p>
