<p>
  If checked, the generated piece will include an outro section that layers the 
  germ in the different voices to provide a nice fade out after the final section.
  See the <%= link_to('examples', '/examples', :onclick => 'return Popup.open({url:this.href});') %> for a demonstration of this.
</p>
  