<p>
    If checked, the generated piece will include an intro section that layers the 
    germ in the different voices to provide a nice build into the first section.
    See the <%= link_to('examples', '/examples', :target => '_blank') %> for a demonstration of this.
</p>