<p>
  Specifies the short melody or <a href="http://en.wikipedia.org/wiki/Motif_(music)" onclick="return Popup.open({url:this.href});">motif</a>
  from which the composition is generated. You can think of it as the "shape" of the fractal. 
  The syntax for the germ is easiest to demonstrate with an example.  Some of the parameters are optional.
  The first form below is the full form, explicitly specifying everything; the second form uses defaults and 
  produces the same germ.
</p>

<%= music_example('/examples/info/germ', 'F4,1/4,MF  G4,1/8,F  A4,1/8,MF  F4,1/4,MF <br /> F4  G4,1/8,F  A4,MF  F4,1/4') %>

<p>
  The germ should be a series of notes seperated by spaces, each with the following form:
</p>
<p>
  &lt;pitch class&gt;&lt;octave&gt;,&lt;duration fraction&gt;,&lt;volume&gt;
</p>
<ul>
    <li>
      <a href="http://en.wikipedia.org/wiki/Pitch_class" onclick="return Popup.open({url:this.href});">Pitch Class</a>: A letter name (A-G),
      optionally followed by an accidental (bb, b, # or x).
    </li>
    <li>
      Octave: A number from 0 to 9 specifying which octave this note is in. The 
      <a href="http://en.wikipedia.org/wiki/Scientific_pitch_notation" onclick="return Popup.open({url:this.href});">Acoustical
      Society of America’s octave designation system</a> is used. Each octave runs 
      from C to B. C4 to B4 is the octave from middle C to the B above middle C.
    </li>
    <li>    
      Duration Fraction (optional): A fraction indicating how long the note should last. 
      For example, 1/4 indicates a quarter note, 3/8 a dotted quarter note and 
      1/12 indicates one note of an eighth note triplet. If no duration is given, 
      the duration of the previous note is used. The first note will be a quarter 
      note if no duration is given.
    </li>
    <li>
      Volume (optional): One of <span class="caps">PPP</span>, PP, P, MP, MF, F, FF or 
      <span class="caps">FFF</span>. If none is given, the volume of the previous 
      note is used. The first note will be MF if no volume is given.
    </li>
</ul>

<p>
  Still confused?  It may be easier to <%= link_to_remote(
        "use someone else's germ", 
        :url => {:action => 'get_random_germ_xhr'},
        :success => "$('germ').value = request.transport.responseText; myLightWindow.deactivate()"
    ) %> and then modify it to create your own.
</p>