<p>
  Specifies the instrument for this voice. Be aware that some sounds may not be available on your computer,
  depending on your installed hardware and midi soundbanks.  When you submit your composition to 
  the Fractal Composer library, it will use the web server's software synthesizer to render it as audio, so
  it will probably sound a bit different from what will hear now.
</p>