<p>
  Specifies the <a href="http://en.wikipedia.org/wiki/Tonic_(music)" target="_blank">tonal center</a> 
  for your composition.  This, together with the selected scale, determines the set of pitches
  used for your composition.  If you're unsure of what this means, try using the C Major Scale.
</p>