<p>
  Specifies the number of octaves to transpose the germ. Positive numbers indicate 
  that the germ should be transposed up; negative numbers indicate that the germ 
  should be transposed down.
</p>