<p>
  If checked, you can change the scale and/or key used for this section 
  from the scale and key which is set for the entire composition. This can be 
  used to put a section in a different key or tonality (i.e. major or minor).
</p>