<p>
  On this panel, you can specify settings that apply to your entire composition.
  You'll need to enter the germ here.  Use the <%= image_tag('music_blue.png', :class => 'icon') %> 
  button to listen to your germ.
</p>