<p>
    Specifies a factor that is used to scale the rhythmic durations of each note. 
    It should be given in integer or fractional form. Factors greater than 1 will 
    result in faster rhythms; factors between 0 and 1 will result in slower rhythms.
</p>

<p>
    For example, a rhythm scale factor of 2 means the rhythmic durations will be 
    scaled so that the result is twice as fast. A rhythm scale factor of 1/2 means 
    the rhythmic durations will be scaled so that the result is half as fast.
</p>
