<p>
  Specifies the <a href="http://en.wikipedia.org/wiki/Musical_scale">scale type</a> to use 
  for the fractal piece.  The scale determines the set of pitches used by fractal composer 
  to generate the piece.
</p>

<p>
  Generally speaking, your germ should only contain notes from the selected scale.  
  Accidentals are allowed, but will usually create excessive dissonance, as they 
  propagate throughout the piece when self-similarity is applied.
</p>
  
<p>
  If you wish to minimize dissonance, consider using one of the pentatonic scales. 
  This will eliminate the most dissonant intervals (minor seconds, major sevenths 
  and tritones), as long as all the notes in your germ are part of the selected 
  pentatonic scale.
</p>  
