<p>
  Specifies a number of scale steps to shift the entire voice or section. 
  Positive values will make the music higher, and negative values will make the music lower.
</p>

<p>
  The results of this setting are dependent on the scale you have selected. 
  For example, if you are using the chromatic scale, each scale step is exactly 
  one half step, while diatonic scales are a mixture of whole steps and half steps. 
  Pentatonic scales include scale steps that are as large a as a minor third.
</p>

<p>
  This setting can be used, for example, to create parallel 3rds or 6ths.
</p>