<p>
  On this panel, you can specify settings for each of the 
  <a href="http://en.wikipedia.org/wiki/Section_(music)" target="_blank">sections</a> 
  of your compositions.  Each section can have independent settings that will
  result in different music for that part of the piece.  
</p>

<p>
  As you edit each section, use the <%= image_tag('music_blue.png', :class => 'icon') %> icon to 
  listen to what it will sound like.  You can also remove a section by clicking the 
  <%= image_tag('cross_blue.png', :class => 'icon') %> icon.  If you want to add additional sections,
  use the button at the bottom of the page.
</p>  
