<p>
  Specifies the <a href="http://en.wikipedia.org/wiki/Tempo" onclick="return Popup.open({url:this.href});">tempo</a>
  in beats per minute for the composition.  You can click the "Generate Piece" button
  and adjust this based on what you like.
</p>