<p>
  Specifies the <a href="http://en.wikipedia.org/wiki/Time_signature" onclick="return Popup.open({url:this.href});">time signature</a>
  of your composition.  If you're not sure what to put here, don't worry about it.  It will only be used
  for the generated music notation.  It will not make a difference in the audio at all.
</p>
<p>
  The time signature should be given in fractional form. 
  The denominator must be a power of 2 (e.g., 2, 4, 8 or 16).  Some common examples:
</p>  

<ul>
  <li>4/4</li>
  <li>3/4</li>
  <li>2/4</li>
  <li>6/8</li>
  <li>12/8</li>  
</ul>