<p>
  On this panel, you can specify settings for each of the voices of your composition. 
  Each voice will be a single melodic line, as in 
  <a href="http://en.wikipedia.org/wiki/Voice_%28polyphony%29" target="_blank">polyphony</a>.
  The most important voice settings are the selected instrument the self-similarity settings.
  Reasonable defaults are set, but you will probably want to change these to customize your 
  composition.
</p>

<p>
  As you edit each voice, use the <%= image_tag('music_blue.png', :class => 'icon') %> icon to 
  listen to what it will sound like.  You can also remove a voice by clicking the 
  <%= image_tag('cross_blue.png', :class => 'icon') %> icon.  If you want to add additional voices,
  use the button at the bottom of the page.
</p>  