<p>
  You can think of a voice section as the cross-section of a voice and section. 
  It is the smallest configurable unit of the fractal piece. The settings of the
  voice and section will be used unless “override voice settings” or 
  “override section settings” are checked.
</p>
<%# TODO: fix the quotes...%>