<p>
  On this tab, you can specify settings for each of the voices of your fractal 
  piece. Each voice is a single melodic line, as in 
  <a href="http://en.wikipedia.org/wiki/Voice_%28polyphony%29">polyphony</a>.
</p>  