<p>
  Indicates how much to increase or decrease the volume. Values between 0 and 
  1 increase the volume; values between 0 and -1 decrease it.
</p>

<p>
  For example, a value of 1/2 means that the volume should be increased to 
  halfway between the current volume and the maximum volume. A value of -1/2 
  means the volume should be decreased to halfway between the existing volume 
  and the minimum volume.
</p>

<p>
  Be careful about setting this to values close to -1; the result will be 
  virtually inaudible.
</p>