/*************************************************************
   AUTHOR: Myron Marston
   PURPOSE: contains CSS for fractal composer.com
   TODO: change the mouse icon over buttons to indicate they can be pressed
 *************************************************************/

div#sidebar ul, div#sidebar ol {
    margin: 5px;
    padding:0 0 0 25px;
}

.library-list-data-column {
    text-align: center;
}


table.library-list thead tr td {
    font-weight: bold;
    text-align: center;
}

table.library-list tfoot tr td,
table.library-list thead tr td {
    background-color: #E5F0FB;
}

table.library-list {
    width: 460px;
}

.pagination {
  text-align: center;
  padding: .3em; 
}

.pagination a, .pagination span {
    padding: .2em .5em; 
}
  
.pagination span.disabled {
    color: #AAA; 
}

.pagination span.current {
    font-weight: bold;
    color: #FB9233;
}

.pagination a {
    border: 1px solid #DDDDDD;
    color: #0063DC;
    text-decoration: none; 
}
    
.pagination a:hover, .pagination a:focus {
      border-color: #003366;
      background: #0063DC;
      color: white; 
}
 
.pagination .page_info {
    color: #aaa;
    padding-top: .8em; 
}

.pagination .prev_page {
    margin-right: 1em; 
}

.pagination .next_page {
    margin-left: 1em; 
}

.feed-button {
  background:#306BC1 url(/images/button-bg.jpg) repeat-x scroll 0 0;  
  height: 40px;
  margin-right: 8px;
}

.feed-button a {
  font-family: "trebuchet MS",Arial,Tahoma,Sans-serif;
  font-size: 16px;
  font-weight: bold;
  background: url("/images/feed-icon-28x28.png") no-repeat 8px 6px;
  display: block;
  height: 32px;
  padding: 12px 63px 0px 63px;
  text-decoration: none;
  color: white;
}

.feed-button a:hover {
  background: url("/images/feed-icon-28x28.png") no-repeat 8px 6px;
  color: #FB9233;
} 

#germ_listen_link, #germ_listen_spinner_wrap {
    clear: right;    
}

#germ_listen_link {
    margin-top: -44px;
}

#germ_listen_spinner_wrap {
    margin-top: -22px;
}

div.field-wrap {    
    border-top: 1px solid #9CC8F4;
    clear: both;
    padding: 2px;
}

div.field-input, div.field-info, #germ_listen_link, #germ_listen_spinner_wrap {
    float: right;
}   

div.field-label {
    text-align: left;
}

div.field-input {    
    text-align: right;
}

div.field-input input[type='checkbox'] {
  margin-top: 5px;
}

div.field-info {    
    padding-top: 3px;
    margin-left: 4px;
}

#main .piece_title {
    text-align: center;
}

#hidden_content_for_lightwindow, #submit_to_library {
    display: none;
}

img.spinner, img.delete_voice_or_section_image, img.hide_info, img.field_info {
    background: transparent;
    border: transparent;
    margin: 0px;
    padding: 0px;    
}

img.icon {
    background-color:#f00;
    background-image: url(/images/bg_rounded.gif);
    background-repeat: no-repeat;
    padding: 0px;
}

/*img.field_info {
    position: relative;
    top: 2px;
    z-index: 999; /* must be on top to allow clicking */
}*/

span.spinner_wrap {
    display: inline;
    width: 16px;
    height: 16px;   
    position: relative;    
}

form {
  padding: 0px 0px;
}

textarea#germ {
    height: 50px;
    width: 250px;
    margin-top: 2px;
    margin-bottom: 4px;
}

#germ_midi_player_wrapper {    
    padding-left: 0px;
    padding-right: 20px;
    margin-bottom: -5px;
    text-align: center;
}

object.midi_player {
    display: block;
    margin: 10px auto;
}

form#compose_form input.button {
    display: inline;
    margin: 10px 20px;
}

.textbox, .comment-even, .comment-odd, #comment_errors, #main .comment_form {
    border: 1px solid #9CC8F4;
}

div#footer_buttons {
    position: relative; /* to allow absolute positioning of inner elements */
    height: 50px;
}

div#footer_buttons div {
    position: absolute;    
}

div#footer_buttons div input {
    width: 110px;
}

div#generate_piece_button_wrap {    
    left: 20px;
}

div#open_submit_to_library_form_button_wrap {    
    text-align: center;
    width: 34%;
    left: 33%;
    right: 33%;
}

div#start_over_button_wrap {    
    right: 20px;
}

#germ_error {
    color: #f00; 
    line-height: 1.2em;
}

div.one_voice_or_section {
  padding: 10px 0px 0px 0px; 
}

form#compose_form fieldset legend {
    margin-left: 20px;
    margin-bottom: 0px;
    display: block;       
}

form#compose_form {
    line-height: 2em;
}

.fieldset_toggle_link {
    font-family:'Trebuchet MS',Tahoma,Sans-serif;
    font-size: 120%;      
}

a.fieldset_toggle_link:link, a.fieldset_toggle_link:visited {
    color: #3B5E0B;
}

.fieldset_toggle_lone_link {
    margin-left: 40px;
    margin-bottom: 10px;
    display: block;
}

a.fieldset_toggle_link:hover {
    color:#f00;
    text-decoration: none;
}

form#compose_form fieldset {
    border: 1px solid transparent; /*#ccc;*/
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

div.voice_sections_wrap {
    margin-top: -10px; /* needed to reduce the extra big gab above the voice sections */   
}

div.fieldset_content, .piece_settings_wrap {
    /* keep the left and right margins here in sync with the no_margin_content class */
    margin: 0px 20px 10px 20px;    
    position: relative;    
}

.piece_settings_wrap {
    padding-top: 10px;
}

.relative_positioned, #compose_form_wrap {
    position: relative;
}

div.no_margin_content {
    /* opposites of margins for fieldset_content class */
    margin-right: -20px;
    margin-left: -20px;    
}

fieldset.self_similarity_fieldset {
    margin-left: 0px;
    margin-right: 0px;
}

.self_similarity_settings_field_1, .self_similarity_settings_field_2, .self_similarity_settings_field_3 {    
    position: absolute;
    bottom: 0px;
    text-align: center;
}

.self_similarity_settings_field_1, .self_similarity_settings_field_3 {
    width: 33%;       
}

.self_similarity_settings_field_1 {
    left: 0px; 
}

.self_similarity_settings_field_2 {
    width: 34%;   
    left: 33%;
    right: 33%;
}

.self_similarity_settings_field_3 {
    right: 0px; 
}

form#compose_form fieldset.self_similarity_settings_fieldset,
form#compose_form fieldset.voice_section_overriden_settings {    
    clear: both;    
}

form#compose_form fieldset.self_similarity_settings_fieldset {
    margin-left: 0px;
    margin-right: 0px;
}

div.info {    
    line-height: 1.2em;
    text-align: left;
    position: relative;
    margin: 2px;    
    padding: 10px;
}

.info_wrap_spacer {
    padding: 10px 20px 0px 20px;
}

span.info_title {
    font-weight: bold;    
}

div#main div.tab_panel_body div.info p {
    /* cancel the normal p style */
    padding: 0px; 
    margin: 10px 0px 0px 0px;
}

.hide_info {
    position: absolute;
    top: 2px;
    right: 2px;
}

#main div.info ul {
    margin-left: 0px;
    margin-right: 0px;
}

.voice_sections_fieldset {
    position: relative; /* to allow inner elements to use absolute positioning */
}

#submit_to_library_panel {
    line-height: 0.5em; 
}

#submit_to_library_panel p {
    margin-bottom: 0px;
}

#submit_to_library_form {
    text-align: left;    
}

#submit_to_library_result {
    line-height: 1.2em;
    border: 2px solid #A8CFF9;
    margin: 0px 20px 10px 20px;
    padding-bottom: 10px;
}

#submit_to_library_result div#errorExplanation h2, 
#submit_to_library_result div#errorExplanation p,
#comment_errors div#errorExplanation h2, 
#comment_errors div#errorExplanation p {
    display: none;
}

input.disabled_button { 	
    background: #686868 url(/images/button-disabled-bg.jpg) repeat-x 0 0; 	
    border: 1px solid #686868;        
}

div.ne_corner_wrap {
    float: right;
    margin-top: -6px;
    margin-right: 6px;
}

#advanced_options_toggle_wrap {
    position: absolute;
    top: 20px;
    right: 40px
}

#main .piece_content {
    margin: 20px;
    text-align: center;
}

#main .comment-form-inner-wrap {
    padding: 1px 20px 20px 20px;
    line-height: 0.5em;
}

#main .comment-form-inner-wrap div {
    margin-top: 20px;
}

#main .library-piece-wrap h3.section-heading {
    margin-left: 40px;
    margin-bottom: -5px;
}

.comment-comment, .static-page-wrap {    
  font-family: "Trebuchet MS", Tahoma, arial, Sans-serif;      
}

.static-page-wrap {    
  font-size: 130%;
  line-height: 1.3em;
  margin: 0px 25px 15px 25px;
}

.rounded-corners, .tab_panel_body, .button, form#compose_form fieldset {
    -webkit-border-radius: 10px;    /* for Safari */
    -moz-border-radius: 10px;       /* for Firefox */
}

.rounded-tabs {
    -webkit-border-top-left-radius: 10px;     /* for Safari */
    -webkit-border-top-right-radius: 10px;    /* for Safari */
    -moz-border-radius-topleft: 10px;        /* for Firefox */
    -moz-border-radius-topright: 10px;       /* for Firefox */
}


#main .library-piece-wrap {
    margin: 0px;
}

.comment-comment {
  color: #2361BA; 
}

.comment-date {
    font-size: 80%;
}

.comment-inner-wrap {        
    font-size: 120%; 
    padding: 10px 20px;           
}

.comment-odd, .comment-even {
    margin: 10px 25px 20px 20px;           
}

.comment-odd, #comment_errors {
    background: #E5F0FB;    
}

.comment-even {
    background: #F4F8FD;
}

#comment_errors {
    margin: 10px;
    padding: 10px;    
    line-height: 1.2em;
}

input.comment-form-button {
    width: 120px;    
    margin-right: 20px;
}

#main .notation-loading {
    padding: 0px;
    margin: 0px;
}

.centered {    
    display: block;
    margin: 5px auto;
    text-align: center;
}

.music-example {
    margin-top: 20px;
    margin-bottom: 20px;
}

/*** Tabbed Panels ***/
/*
Adapted from Kalsey CSS tabs:
http://css.maxdesign.com.au/listamatic/horizontal08.htm
*/

.tablist
{
margin: 0;
padding-bottom: 23px;
padding-left: 10px;
}

#main .tablist ul, #main .tablist li
{
display: inline;
list-style-type: none;
margin: 0;
padding: 0;
}

#main .tablist a:link, #main .tablist a:visited
{
border: 1px solid #BBB;
background: #DDD; /*transparent*/
float: left;
font-size: small;
font-weight: normal;
line-height: 14px;
margin-right: 8px;
padding: 2px 10px 2px 10px;
text-decoration: none;
font: bold 13px 'Trebuchet MS', Arial, Sans-serif;
text-transform: none;
color: #3B5E0B;
height: 18px;
}

#main .tablist a:link.current, #main .tablist a:visited.current
{
border-bottom: 1px solid transparent;/*#F4F8FD;*/
color: #f00;
background-color: #E5EFF9;
}

.tablist a:hover { color:#f00;   }
.tablist ul a:hover { color:#f00 !important; }


div.tab_panel_body {
    /* margin-top: -1px; to make the border overlap with the border of the tabs */
    /*border-left: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;*/
    border: 1px solid #CCCCCC;
    background-color: transparent;
    position: relative; /* so we can use absolute positioning on inner elements */
}

#compose_form_wrap div.tab_panel_body {
    background-color: #E5EFF9;
}

div.tab_panel_body fieldset, div.tab_panel_body div.info, #submit_to_library_result {
    background-color: #D9E8F9;    
}

div.tab_panel_body fieldset fieldset, div.tab_panel_body fieldset div.info {
    background-color: #CFE3F9;
}

div.tab_panel_body fieldset fieldset fieldset, div.tab_panel_body fieldset fieldset div.info {
    background-color: #C5DEF9;
}

div.tab_panel_body fieldset fieldset fieldset fieldset, div.tab_panel_body fieldset fieldset fieldset div.info {
    background-color: #BBD9F9;
}

div.tab_panel_body fieldset fieldset fieldset fieldset fieldset, div.tab_panel_body fieldset fieldset fieldset fieldset div.info {
    background-color: #B2D4F9;
}

div.tab_panel_body fieldset fieldset fieldset fieldset fieldset fieldset, div.tab_panel_body fieldset fieldset fieldset fieldset fieldset div.info {
    background-color: #A8CFF9;
}

div.tab_panel_body, #main ul.tablist {
    margin-left: 20px;
    margin-right: 20px;    
}

div.tab_panel_body p {
  margin-top: 0px;
  padding-top: 10px;
}

span.beta {
  font-size: 16px; 
  letter-spacing: 0px;
  color: #FB9233;
}
 
.creative-commons-license {
    text-align: center;
    font-size: 90%;
}