/*************************************************************
   AUTHOR: Myron Marston
   PURPOSE: contains CSS to override the coolwater style sheet.
 *************************************************************/

img.spinner, img.delete_voice_or_section_image {
    background: transparent;
    border: transparent;
    margin: 0px;
    padding: 0px;    
}

img.delete_voice_or_section_image {
    float: right;
    margin-top: -8px;
}

span.spinner_wrap {
    display: inline;
    width: 16px;
    height: 16px;   
    position: relative;
    bottom: 8px;
}

form {
  padding: 0px 0px;
}

textarea#germ_string {
    height: 40px;
    width: 350px;
}

#germ_midi_player_wrapper {    
    padding-left: 0px;
    padding-right: 20px;
}

object.midi_player {
    margin-left: -7px;
}

form#compose_form input.button {
    display: inline;
    margin: 10px 20px;
}

.germ_string_error {
    color: #f00; 
}

div.one_voice_or_section {
  padding: 10px 0px 0px 0px;  
}

div.one_voice_or_section p {
  line-height: 2.2em;  
}

form#compose_form fieldset legend {
    margin-left: 20px;
    margin-bottom: 0px;
    display: block;       
}

.fieldset_toggle_link {
    font-family:'Trebuchet MS',Tahoma,Sans-serif;
    font-size: 120%;      
}

a.fieldset_toggle_link:link, a.fieldset_toggle_link:visited {
    color: #3B5E0B;
}

.fieldset_toggle_lone_link {
    margin-left: 40px;
    margin-bottom: 10px;
    display: block;
}

a.fieldset_toggle_link:hover {
    color:#f00;
    text-decoration: none;
}

form#compose_form fieldset {
    border: 1px solid transparent; /*#ccc;*/
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

span.self_similarity_settings_field {
    margin: 10px 12px;
}

/*** Tabbed Panels ***/
/*
Adapted from Kalsey CSS tabs:
http://css.maxdesign.com.au/listamatic/horizontal08.htm
*/

.tablist
{
border-bottom: 1px solid #ccc;
margin: 0;
padding-bottom: 23px;
padding-left: 10px;
}

.tablist ul, .tablist li
{
display: inline;
list-style-type: none;
margin: 0;
padding: 0;
}

.tablist a:link, .tablist a:visited
{
border: 1px solid #BBB;
background: transparent; /*#DDD;*/
float: left;
font-size: small;
font-weight: normal;
line-height: 14px;
margin-right: 8px;
padding: 2px 10px 2px 10px;
text-decoration: none;
font: bold 13px 'Trebuchet MS', Arial, Sans-serif;
text-transform: none;
color: #3B5E0B;
height: 18px;
}

.tablist a:link.current, .tablist a:visited.current
{
border-bottom: 1px solid transparent;/*#F4F8FD;*/
color: #f00;
background-color: #E5EFF9;
}

.tablist a:hover { color:#f00;   }
.tablist ul a:hover { color:#f00 !important; }


div.tab_panel_body {
    /* margin-top: -1px; to make the border overlap with the border of the tabs */
    border-left: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;  
    background-color: #E5EFF9;
}

div.tab_panel_body fieldset {
    background-color: #D9E8F9;    
}

div.tab_panel_body fieldset fieldset {
    background-color: #CCE1F9;
}

div.tab_panel_body fieldset fieldset fieldset {
    background-color: #C0DBF9;
}

div.tab_panel_body fieldset fieldset fieldset fieldset {
    background-color: #B3D4F9;
}

div.tab_panel_body, #main ul.tablist {
    margin-left: 20px;
    margin-right: 20px;    
}

div.tab_panel_body p {
  margin-top: 0px;
  padding-top: 10px;
}
 