/*************************************************************
   AUTHOR: Myron Marston
   PURPOSE: contains CSS to override the coolwater style sheet.
 *************************************************************/

img.spinner {
    background: transparent;
    margin: 0px;
    padding: 0px;
}

form {
  padding: 0px 0px;
}

textarea#germ_string {
    height: 40px;
    width: 450px;
}

#germ_midi_player_wrapper {    
    padding-left: 20px;
    padding-right: 20px;
}

object.midi_player {
    margin-left: -7px;
}

input#generate_piece_button {
  margin: 20px 20px 20px 20px;
  background-position: center;
}

.germ_string_error {
    color: #f00; 
}



/*** Tabbed Panels ***/
/*
Adapted from Kalsey CSS tabs:
http://css.maxdesign.com.au/listamatic/horizontal08.htm
*/

.tablist
{
border-bottom: 1px solid #ccc;
margin: 0;
padding-bottom: 23px;
padding-left: 10px;
}

.tablist ul, .tablist li
{
display: inline;
list-style-type: none;
margin: 0;
padding: 0;
}

.tablist a:link, .tablist a:visited
{
border: 1px solid #BBB;
background: #DDD;
float: left;
font-size: small;
font-weight: normal;
line-height: 14px;
margin-right: 8px;
padding: 2px 10px 2px 10px;
text-decoration: none;
font: bold 13px 'Trebuchet MS', Arial, Sans-serif;
text-transform: none;
color: #3B5E0B;
height: 18px;
}

.tablist a:link.current, .tablist a:visited.current
{
border-bottom: 1px solid #F4F8FD;
color: #f00;
background:transparent;
}

.tablist a:hover { color:#f00;   }
.tablist ul a:hover { color:#f00 !important; }
 