.LV_validation_message{
    font-weight:bold;
    margin:0 0 0 5px;
}

/*.LV_valid {
    color:#A3E357;
}*/
	
.LV_invalid {
    color:#FF0000;    
}
/* Commented this out because most fields are already filled in, and they don't start with a green
   border.  For the sake of consistency, we will just not show a border at all for valid fields.
.LV_valid_field,
input.LV_valid_field:hover, 
input.LV_valid_field:active,
textarea.LV_valid_field:hover, 
textarea.LV_valid_field:active {
    border: 1px solid #A3E357;
}*/
    
.LV_invalid_field, 
input.LV_invalid_field:hover, 
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover, 
textarea.LV_invalid_field:active {
    border: 1px solid #FF0000;
}