<div class="static-page-wrap">
  <p>
    <%= @list_options[0][:user_submissions].total_entries %> pieces have been submitted to the library.  Browse the lists below, or use the search box on the sidebar to search the library for a specific piece.
  </p>

  <% @list_options.each do |options| -%>
    <%= render :partial => 'user_submission_table', :locals => options %>
  <% end -%>
</div>